// colors theme
$basic-bg-color: #fff;

$button-text-first: #15A6F4;

$button-color-first: #15A6F4;
$button-border-first: #116594;
$button-color-second: #15F446;
$button-border-second: #11a732;
$button-border-third: #F5CEB8;

$input-color-primary: #F8F4F2;
$input-border-primary: #F5CEB8;
$input-text-placeholder: #b6b3af;
