@import './variables';

.input {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  padding: 0.5em 1.2em;
  min-width: 12.5em;

  &--primary {
    background: $input-color-primary;
    border: $input-border-primary solid 1px;

    &::placeholder {
      color: $input-text-placeholder;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper + .input-wrapper {
  //padding-top: 16px;
}

.helper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 14px;
    //padding-top: 10px;
    position: absolute;

    &--red {
      color: #f55e5e
    }
  }
}